networks:
  jenkins:
    driver: bridge

volumes:
  jenkins-data:
  jenkins-docker-certs:

services:
  dind:
    image: docker:dind
    container_name: jenkins-docker
    privileged: true
    restart: always
    networks:
      jenkins:
        aliases:
          - docker
    environment:
      DOCKER_TLS_CERTDIR: /certs
    volumes:
      - jenkins-docker-certs:/certs/client
      - jenkins-data:/var/jenkins_home
    ports:
      - "2376:2376"
    command: --storage-driver overlay2

  jenkins:
    build:
      context: .
      dockerfile: Dockerfile
    user: "1000:12345"
    image: myjenkins-blueocean:2.504.3-1
    container_name: jenkins-blueocean
    restart: on-failure
    networks:
      - jenkins
    environment:
      DOCKER_HOST: tcp://docker:2376
      DOCKER_CERT_PATH: /certs/client
      DOCKER_TLS_VERIFY: "1"
    volumes:
      - jenkins-data:/var/jenkins_home
      - jenkins-docker-certs:/certs/client:ro
      - ${DOCKER_SOCK}:/var/run/docker.sock
      - ${DEPLOY_VOLUME}:/var/jenkins_home/workspace/deploy
    ports:
      - "8080:8080"
      - "50000:50000"
